/*BEGIN PS4 White Controller Styling*/
.controller.ds4.white {
    background-image: url(https://imgur.com/AMwZzXW);
}

.ds4.white.disconnected {
    background: url(ps4-assets/disconnected.svg);
}

.ds4.white .trigger {
    background-image: url(https://imgur.com/7IBffuY);
}

.ds4.white .bumper {
    background-image: url(https://imgur.com/UXCq54n);
}

.ds4.white .touchpad.pressed {
    background-image: url(ps4-white-assets/touchpad.svg);
}

.ds4.white .back, .ds4 .start {
    background-image: url(https://imgur.com/oaFHf15);
}

.ds4.white .button {
    background-image: url(https://imgur.com/byFNJss);
}

.ds4.white .stick {
    background-image: url(https://imgur.com/ZB0NevU);
}

.ds4.white .face {
    background-image: url(https://imgur.com/P4K2If7);
}

/*END PS4 White Controller Styling*/